@import '../define.scss';

div.client_section{
    padding: 100px 0px;
    text-align: center;
    @include wrap1200;
    @media (max-width: 767px){
        padding-bottom: 50px;
    }
    h2{
        text-align: center;
        font-size: 54px;
        color: #222;
        margin: 0;
        @media (max-width: 767px){
            font-size: 30px;
        }
    }
    p{
        margin: 30px 0px;
        font-size: 18px;
        @media (max-width: 767px){
            font-size: 14px;
        }
    }
    div.clients{
        max-width: 1000px;
        margin: 30px auto;
        div.client{
            width: 160px;
            margin: 2px;
            display: inline-block;
        }
    }
    .btn{
        @include btnDefault(#222);
        margin: 0px auto;
        margin: {
            left: 5px;
            right: 5px;
            bottom: 10px;
        };
        b{
            font-weight: normal;
        }
    }
}