@import '../define.scss';
header{
    div.head{
        width: 100%;
        position: fixed;
        padding: 20px 0px;
        z-index: 999;
        cursor: pointer;
        @media (max-width:767px) {
            padding: 10px 0px;
        }
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 0px;
            background-color: rgba(0,0,0,.5);
            top: 0;
            transition: .2s ease-in;
        }
        &:hover ol{
            opacity: 1.0;
        }
        &:hover::before{
            height: 250px;
        }
        h1{
            width: 10%;
            display: inline;
            @media (max-width:767px) {
                img{
                    width: 130px;
                }
            }
        }
        ul{
            display: inline-block;
            text-align: center;
            @include absoluteCenter;
            &>li{
                display: inline;
                color: $white;
                font-size: 18px;
                margin: 0px 30px;
                font-family: 'roboto';
                position: relative;
                span{
                    &.router-link-exact-active{
                        color: $MainColor;
                    }
                }
                @media (max-width:1200px) {
                    margin: 0px 15px;
                    font-size: 16px;
                }
                @media (max-width:960px) {
                    margin: 0px 10px;
                }
                @media (max-width:767px) {
                    display: none;
                }
                ol{
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    top: 40px;
                    transform: translateX(-50%);
                    opacity: 0.0;
                    li{
                        color: $FontLight;
                        font-size: 14px;
                        margin: 15px 0px;
                        span{
                            &.router-link-active{
                                color: $MainColor;
                            }
                        }
                    }
                }
            }
        }
        div.ham_btn{
            cursor: pointer;
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            span{
                background: #fff;
                display: block;
                width: 30px;
                height: 3px;
                margin-bottom: 7px;
                transition: all 0.3s ease;
                &:last-child{
                    background: #1dbfd7;
                    width: 15px;
                    margin-left: 15px;
                }
            }
            &:hover span:nth-child(2){width:15px}
        }
    }
}