$white:#fff;
$FontBlack:#444;
$FontLight:#888;
$MainColor:#1dbfd7;
$MainDarken:#015b96;
$ImgRoute:"../../image/";


@mixin wrap1200 {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width:1200px){
        max-width: 1024px;
    }
    @media (max-width:1024px){
        max-width: 95%;
    }
}

@mixin BackGroundOption($size) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin topBottomBlank{
    padding:100px 0px;
    @media (max-width:960px) {
        padding:50px 0px;
    }
}
@mixin btnDefault($Color) {
    position: relative;
    z-index: 9;
    display: inline-block;
    border: 1px solid $Color;
    font-size: 14px;
    text-align: left;
    color: $Color;
    width: 200px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background: #1dbfd7;
        transition: width 0.2s; 
    }
    & div.pluarotate{
        position: absolute;
        top: 17px;
        right: 20px;
        display: block;
        width: 12px;
        height: 12px;
        text-align: center;
        span{
            position: absolute;
            top: 6px;
            display: block;
            width: 11px;
            height: 1px;
            background-color: $Color;
            &:last-child{
                transform: rotate(90deg);
            }
        }
    }
    &:hover::before{
        width:100%; left:0
    }
    &:hover{border-color:#1dbfd7; color:$Color}
    &:hover span{background:$Color}
    &:hover div.pluarotate{
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: plusRotate;
    }
}

@mixin section1($Img) {
    height: 600px;
    @include BackGroundOption(cover);
    background-image: url($ImgRoute + $Img);
    div.text_area{
        @include absoluteCenter;
        color: $white;
        text-align: center;
        font-size: 16px;
        @media (max-width:1200px) {
            font-size: 14px;
        }
        @media (max-width:767px) {
            font-size: 12px;
        }
        h2{
            font-size: 3.375em;
            font-weight: 700;
            margin-bottom: 30px;
            font-weight: bolder;
            @media (max-width:1200px) {
                font-size: 3.125em;
            }
            @media (max-width:767px) {
                min-width: 340px;
            }
            span{
                vertical-align: top;
                &.ci_color1{
                    color: $MainColor;
                }
                &.ci_color2{
                    color: $MainDarken;
                }
            }
            img{
                width: auto;
                margin-top: -30px;
                @media (max-width:960px) { 
                    display: none;
                }
            }
        }
        p.s_tit{
            font-size: 1.125em;
            line-height: 30px;
            margin-bottom: 30px;
            @media (max-width:767px) {
                font-size: 1.275em;
                width: 80%;
                margin: 30px auto;
            }
        }
        div.btn{
            @include btnDefault($white);
        }
    }
    
}
/*****animation define*****/

@keyframes plusRotate {
    0% {
        transform-origin: center;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform-origin: center;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(90px);
        -ms-transform: translateX(90px);
        transform: translateX(90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(90px);
        -ms-transform: translateY(90px);
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-90px);
        -ms-transform: translateY(-90px);
        transform: translateY(-90px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%,40px);
        -ms-transform: translate(-50%,40px);
        transform: translate(-50%,40px);
        
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
    }
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%,-40px);
        -ms-transform: translate(-50%,-40px);
        transform: translate(-50%,-40px);
        
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
    }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes plusRotate {
    0% {
        transform-origin: center;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform-origin: center;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes img_ani_2 {
    0% {
        transform-origin: center;
        -webkit-transform: translateX(-550px) translateY(550px);
        -ms-transform: translateX(-550px) translateY(550px);
        transform: translateX(-550px) translateY(550px);
    }
    100% {
        transform-origin: center;
        -webkit-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
}
@keyframes phone {
    0% {
        transform-origin: center; opacity:0;
        -webkit-transform: translateX(300px) translateY(300px);
        -ms-transform: translateX(300px) translateY(300px);
        transform: translateX(300px) translateY(300px);
    }
    100% {
        transform-origin: center; opacity:1;
        -webkit-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
}

