@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOelz45bIS.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(https://fonts.gstatic.com/s/notosanskr/v12/PbykFmXiEBPT4ITbgNA5CgmG237u.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOIl345bIS.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(https://fonts.gstatic.com/s/notosanskr/v12/Pby7FmXiEBPT4ITbgNA5CgmOalv45bIS.otf) format('opentype');
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 16px;
}
html,
body,
ul,
ol,
img,
div,
span,
iframe,
a,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
img {
  width: 100%;
}
html,
body,
ul,
ol,
li,
img,
div,
span,
iframe,
a,
p,
input,
textarea,
select,
i {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  word-break: keep-all;
  color: #444;
  letter-spacing: -0.5px;
}
#wrap {
  margin: 0 auto;
  max-width: 1920px;
  overflow-x: hidden;
}
div.head_line {
  max-width: 1920px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 60px;
}
div.head_line h4 {
  color: #ffffff;
  font-size: 1.125rem;
}
div.head_line h4 span {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  background-color: #f24453;
  display: inline-block;
  color: #ffffff;
  line-height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  margin-left: 25px;
  cursor: pointer;
}
header {
  width: 100%;
  position: relative;
}
header div.figure_boxs {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  z-index: 10;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
header div.figure_boxs > div {
  float: left;
  width: calc(100%/5);
  max-width: 220px;
  height: 100%;
  margin-right: 20px;
  background: white;
}
header div.figure_boxs > div figure {
  width: 100%;
  height: 150px;
  position: relative;
}
header div.figure_boxs > div figure img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header div.figure_boxs > div figure.fig_1 img {
  width: 80px;
}
header div.figure_boxs > div figure.fig_2 img {
  width: 80px;
}
header div.figure_boxs > div figure.fig_3 img {
  width: 140px;
}
header div.figure_boxs > div figure.fig_4 img {
  width: 130px;
}
header div.figure_boxs > div figure.fig_5 img {
  width: 130px;
}
header div.figure_boxs > div div.fig_line {
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
  position: relative;
}
header div.figure_boxs > div div.fig_line span {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #444;
}
header div.figure_boxs div.last-box {
  margin: 0px;
}
div.con1 {
  box-sizing: border-box;
  padding-top: 100px;
  height: 500px;
  text-align: center;
  position: relative;
}
div.con1 h2 {
  font-size: 3.125rem;
  color: #222;
  font-weight: 100;
  letter-spacing: -1px;
}
div.con1 h2 span {
  font-size: 3.125rem;
  color: #222;
  font-weight: bolder;
}
div.con1 figure {
  width: 100%;
  max-width: 1200px;
  margin: 54px auto;
  position: relative;
  z-index: -2;
}
div.con1 figure img {
  width: 45%;
  margin-right: 2%;
  margin-left: 2%;
}
div.con1 img.obj {
  position: absolute;
  width: 35%;
  top: -25%;
  right: -10%;
  z-index: -1;
}
div.con2 {
  width: 100%;
  height: 900px;
  position: relative;
  background-image: url(../images/con2-bg.png);
  background-repeat: no-repeat;
  background-position: top;
}
div.con2 img.obj {
  position: absolute;
  width: 35%;
  top: -20%;
  left: 10%;
  z-index: -2;
}
div.con2 img.obj2 {
  position: absolute;
  width: 80%;
  z-index: 10;
  bottom: 13%;
  left: -1%;
}
div.con2 div.con_wrap .con2-graph {
  width: 50%;
  display: block;
  float: right;
  position: relative;
  z-index: 11;
  top: 300px;
}
div.con2 div.con_wrap div.con2_tit {
  position: absolute;
  bottom: 45%;
  width: 450px;
  float: left;
}
div.con2 div.con_wrap div.con2_tit p {
  font-size: 1.25rem;
  margin-bottom: 5px;
}
div.con3 {
  width: 100%;
  height: 800px;
  background-image: url(../images/con3-bg.png);
  background-position: top;
  margin-top: -300px;
  position: relative;
  z-index: 10;
}
div.con3 div.con_wrap {
  height: 100%;
  position: relative;
}
div.con3 div.con_wrap div.con3_tit {
  position: absolute;
  bottom: 50%;
  right: 0;
  float: left;
  text-align: right;
}
div.con3 div.con_wrap div.con3_tit p {
  font-size: 1.25rem;
  margin-bottom: 5px;
}
div.con3 div.con_wrap img {
  width: 85%;
  position: absolute;
  left: -6%;
  bottom: 18%;
}
div.con4 {
  width: 100%;
  height: 800px;
  background-image: url(../images/con4-bg.png);
  background-position: top;
  margin-top: -350px;
  position: relative;
  z-index: 10;
}
div.con4 div.con_wrap {
  margin: 0 auto;
}
div.con4 div.con_wrap div.con4_texts {
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 40%;
}
div.con4 div.con_wrap div.con4_texts > div {
  display: inline-block;
}
div.con4 div.con_wrap div.con4_texts .con4_tit {
  float: left;
}
div.con4 div.con_wrap div.con4_texts .con4_tit h3 {
  color: #ffffff;
}
div.con4 div.con_wrap div.con4_texts .con4_tit h2 {
  color: #ffffff;
}
div.con4 div.con_wrap div.con4_texts .con4_desc {
  width: 50%;
  float: right;
  transform: translateY(-30px);
}
div.con4 div.con_wrap div.con4_texts .con4_desc h4 {
  padding-left: 50px;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
div.con4 div.con_wrap div.con4_texts .con4_desc ul {
  padding-left: 45px;
}
div.con4 div.con_wrap div.con4_texts .con4_desc ul li {
  margin-bottom: 10px;
  color: white;
  font-size: 1rem;
}
div.con4 div.con_wrap div.con4_texts .con4_desc ul li img {
  width: 20px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
div.con5 {
  width: 100%;
  height: 1300px;
  background-image: url(../images/con5-bg.png);
  background-position: top;
  margin-top: -350px;
  position: relative;
  z-index: 10;
}
div.con5 div.con_wrap {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
div.con5 div.con_wrap h3 {
  text-align: center;
}
div.con5 div.con_wrap h2 {
  text-align: center;
}
div.con5 div.con_wrap p {
  font-size: 1.25rem;
  margin-bottom: 5px;
  text-align: center;
  color: #444;
}
div.con5 div.con_wrap div.price_tag {
  text-align: center;
  margin-top: 60px;
  background-image: url(../images/con5-box.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 95px;
}
div.con5 div.con_wrap div.price_tag span {
  font-size: 24px;
}
div.con5 div.con_wrap div.price_tag h2 {
  font-size: 60px;
  color: #f24453;
}
div.con5 div.con_wrap div.circle_boxs {
  text-align: center;
  margin-top: 40px;
}
div.con5 div.con_wrap div.circle_boxs div.circle {
  width: 250px;
  height: 250px;
  display: inline-block;
  background-color: #f24453;
  vertical-align: middle;
  border-radius: 100%;
  position: relative;
}
div.con5 div.con_wrap div.circle_boxs div.circle div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.con5 div.con_wrap div.circle_boxs div.circle div img {
  width: 55px;
}
div.con5 div.con_wrap div.circle_boxs div.circle div span {
  margin-top: 20px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}
div.con5 div.con_wrap div.circle_boxs span {
  display: inline-block;
}
div.con5 div.con_wrap div.circle_boxs span img {
  width: 30px;
  margin-right: 40px;
  margin-left: 40px;
}
div.con5 div.con_wrap h4 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  color: #222;
}
div.con5 img.obj1 {
  width: 400px;
  position: absolute;
  top: 25%;
  left: -0.5%;
  z-index: -1;
}
div.con5 img.obj2 {
  width: 500px;
  position: absolute;
  bottom: 0%;
  right: -2.5%;
  z-index: -2;
}
div.con6 {
  width: 100%;
  height: 800px;
  background-image: url(../images/con6-bg.png);
  background-position: top;
  margin-top: -150px;
  position: relative;
  z-index: 10;
}
div.con6 div.con_wrap {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
div.con6 div.con_wrap h2 {
  color: white;
  margin-bottom: 20px;
}
div.con6 div.con_wrap ul {
  width: 55%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px;
}
div.con6 div.con_wrap ul li {
  color: white;
  margin-bottom: 10px;
}
div.con6 div.con_wrap ul li span {
  display: inline-block;
  background-color: #f24453;
  width: 85px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin-right: 10px;
}
div.con6 div.con_wrap ul li.none {
  margin-top: -20px;
}
div.con6 div.con_wrap ul li.none span {
  opacity: 0;
}
footer {
  width: 100%;
  height: 450px;
  background-image: url(../images/con5-bg.png);
  margin-top: -300px;
  position: relative;
  z-index: 19;
}
footer div.btn {
  cursor: pointer;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  background-color: #f24453;
  color: white;
  margin: 0 auto;
  line-height: 60px;
  font-size: 20px;
  position: relative;
  z-index: 100;
  text-align: center;
  top: 20px;
}
footer div.con_wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
footer div.con_wrap h1 {
  margin-bottom: 20px;
}
footer div.con_wrap h1 img {
  width: 150px;
}
footer div.con_wrap p {
  margin-top: 10px;
}
