@media (max-width: 1440px) {
  header div.figure_boxs {
    max-width: 1024px;
    height: 200px;
    bottom: -3%;
    padding-left: 30px;
  }
  header div.figure_boxs > div {
    max-width: 185px;
    margin-right: 10px;
  }
  header div.figure_boxs > div figure {
    height: 130px;
  }
  header div.figure_boxs > div figure.fig_1 img {
    width: 70px;
  }
  header div.figure_boxs > div figure.fig_2 img {
    width: 70px;
  }
  header div.figure_boxs > div figure.fig_3 img {
    width: 120px;
  }
  header div.figure_boxs > div figure.fig_4 img {
    width: 115px;
  }
  header div.figure_boxs > div figure.fig_5 img {
    width: 115px;
  }
  div.con_wrap {
    max-width: 1024px;
  }
  div.con1 figure {
    z-index: 0;
    max-width: 1024px;
  }
  div.con1 figure img {
    margin-right: 0.5%;
    margin-left: 0.5%;
  }
  div.con1 img.obj {
    z-index: 1;
  }
  div.con2 {
    margin-top: -100px;
  }
  div.con2 img.obj {
    top: -5%;
  }
  div.con2 img.obj2 {
    width: 100%;
    bottom: 18%;
  }
  div.con3 div.con_wrap img {
    width: 75%;
  }
  div.con4 div.con_wrap div.con4_texts {
    top: 37%;
  }
  div.con5 {
    height: 1100px;
  }
  div.con5 div.con_wrap {
    top: 25%;
  }
  div.con5 img.obj1 {
    left: -2%;
  }
  div.con5 img.obj2 {
    right: -5%;
    bottom: -5%;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    width: 220px;
    height: 220px;
  }
  div.con5 div.con_wrap div.circle_boxs span img {
    margin-right: 25px;
    margin-left: 25px;
  }
  div.con6 div.con_wrap ul {
    width: 67%;
  }
  footer div.btn {
    top: 50px;
  }
  footer div.con_wrap {
    top: 60%;
  }
}
@media (max-width: 1190px) {
  html,
  body {
    font-size: 12px;
  }
  header div.figure_boxs {
    max-width: 900px;
    height: 190px;
    bottom: -7%;
    padding-left: 15px;
  }
  header div.figure_boxs > div {
    max-width: 165px;
    margin-right: 10px;
  }
  header div.figure_boxs > div figure {
    height: 120px;
  }
  div.con_wrap {
    max-width: 900px;
  }
  div.con1 figure {
    z-index: 0;
    max-width: 900px;
  }
  div.con2 div.con_wrap div.con2_tit {
    bottom: 47%;
  }
  div.con2 img.obj2 {
    bottom: 30%;
  }
  div.con2 div.con_wrap .con2-graph {
    width: 48%;
  }
  div.con5 img.obj1 {
    left: -5%;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    width: 200px;
    height: 200px;
  }
  div.con5 div.con_wrap div.price_tag {
    height: 70px;
  }
  div.con6 div.con_wrap ul {
    width: 72%;
  }
  footer {
    height: 500px;
  }
}
@media (max-width: 1024px) {
  html,
  body {
    font-size: 10px;
  }
  header img.head {
    width: 120%;
    margin-left: -10%;
  }
  header div.figure_boxs {
    max-width: 860px;
    height: 180px;
    padding-left: 20px;
  }
  header div.figure_boxs > div {
    max-width: 155px;
  }
  header div.figure_boxs > div div.fig_line span {
    font-size: 1.125rem;
    white-space: nowrap;
  }
  div.con_wrap {
    max-width: 767px;
  }
  div.con2 img.obj2 {
    width: 100%;
    bottom: 25%;
  }
  div.con2 div.con_wrap div.con2_tit {
    bottom: 45%;
  }
  div.con2 div.con_wrap .con2-graph {
    margin-top: 7%;
  }
  div.con4 div.con_wrap div.con4_texts .con4_desc ul li {
    font-size: 1.2rem;
  }
  div.con5 {
    height: 1000px;
  }
  div.con5 div.con_wrap div.price_tag {
    height: 60px;
  }
  div.con5 img.obj1 {
    left: -10%;
  }
  div.con5 div.con_wrap div.circle_boxs span img {
    margin-left: 15px;
    margin-right: 15px;
  }
  div.con5 img.obj2 {
    right: -15%;
  }
  div.con6 div.con_wrap ul {
    width: 95%;
  }
}
@media (max-width: 859px) {
  header img.head {
    width: 130%;
    margin-left: -15%;
  }
  header div.figure_boxs {
    max-width: 767px;
    padding-left: 12px;
  }
  header div.figure_boxs > div {
    max-width: 140px;
    margin-right: 10px;
  }
  header div.figure_boxs > div figure.fig_1 img {
    width: 50px;
  }
  header div.figure_boxs > div figure.fig_2 img {
    width: 50px;
  }
  header div.figure_boxs > div figure.fig_3 img {
    width: 95px;
  }
  header div.figure_boxs > div figure.fig_4 img {
    width: 90px;
  }
  header div.figure_boxs > div figure.fig_5 img {
    width: 90px;
  }
  div.con_wrap {
    max-width: 640px;
  }
  div.con1 {
    height: 400px;
  }
  div.con1 img.obj {
    top: -10%;
  }
  div.con2 {
    height: 750px;
  }
  div.con2 img.obj {
    top: 1%;
    left: 6%;
  }
  div.con3 div.con_wrap img {
    width: 110%;
    left: -35%;
    top: 25%;
  }
  div.con2 img.obj2 {
    width: 98%;
    bottom: 30%;
  }
  div.con2 div.con_wrap div.con2_tit {
    width: 40%;
  }
  div.con2 div.con_wrap div.con2_tit h3 {
    font-size: 2.5rem;
  }
  div.con2 div.con_wrap div.con2_tit h2 {
    font-size: 2.5rem;
  }
  div.con2 div.con_wrap .con2-graph {
    width: 55%;
    margin-top: -5%;
  }
  div.con4 div.con_wrap div.con4_texts {
    max-width: 640px;
  }
  div.con4 div.con_wrap div.con4_texts .con4_tit {
    width: 40%;
  }
  div.con4 div.con_wrap div.con4_texts .con4_tit h3 {
    font-size: 2.5rem;
  }
  div.con4 div.con_wrap div.con4_texts .con4_tit h2 {
    font-size: 2.5rem;
  }
  div.con4 div.con_wrap div.con4_texts .con4_desc {
    width: 60%;
  }
  div.con5 {
    height: 900px;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    width: 165px;
    height: 165px;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle div img {
    width: 45px;
  }
  div.con5 img.obj1 {
    left: 0%;
  }
  div.con5 img.obj1 {
    width: 300px;
    left: -10%;
  }
  div.con5 img.obj2 {
    width: 350px;
  }
  div.con6 div.con_wrap ul {
    width: 90%;
  }
  div.con6 div.con_wrap {
    top: 30%;
  }
  div.con6 div.con_wrap ul li {
    font-size: 12px;
  }
  footer div.btn {
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    top: 60px;
  }
  footer div.con_wrap h1 {
    margin-bottom: 30px;
  }
  footer div.con_wrap p {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  div.head_line {
    height: 40px;
    line-height: 40px;
  }
  div.head_line h4 span {
    width: 120px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
  }
  header div.figure_boxs {
    max-width: 95%;
    padding-left: 10px;
    bottom: -15%;
  }
  header div.figure_boxs > div {
    max-width: 19%;
    margin-right: 5px;
  }
  header div.figure_boxs > div figure.fig_1 img {
    width: 40px;
  }
  header div.figure_boxs > div figure.fig_2 img {
    width: 40px;
  }
  header div.figure_boxs > div figure.fig_3 img {
    width: 75px;
  }
  header div.figure_boxs > div figure.fig_4 img {
    width: 75px;
  }
  header div.figure_boxs > div figure.fig_5 img {
    width: 75px;
  }
  header div.figure_boxs > div figure {
    height: 110px;
  }
  div.con_wrap {
    max-width: 95%;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    width: 140px;
    height: 140px;
  }
  div.con6 div.con_wrap ul {
    width: 100%;
  }
}
@media (max-width: 640px) {
  html,
  body {
    font-size: 12px;
  }
  div.popups div.popup_box div.forms {
    width: 85%;
  }
  div.popups div.popup_box ul li label {
    width: 15%;
    margin-right: 20px;
  }
  div.popups div.popup_box ul li input {
    width: 65%;
    float: right;
    margin-top: 10px;
  }
  header img.head {
    display: none;
  }
  header img.mo_head {
    display: block;
    width: 220%;
    margin-left: -60%;
  }
  header div.figure_boxs {
    bottom: 40%;
    padding-left: 5px;
    text-align: left;
  }
  header div.figure_boxs > div {
    display: inline-block;
    height: 130px;
    float: none;
    width: 48%;
    max-width: 49%;
    margin-bottom: 76px;
    margin-right: 2px;
    margin-left: 2px;
  }
  header div.figure_boxs > div figure {
    height: 130px;
  }
  header div.figure_boxs > div figure.fig_1 img {
    width: 70px;
  }
  header div.figure_boxs > div figure.fig_2 img {
    width: 65px;
  }
  header div.figure_boxs > div figure.fig_3 img {
    width: 95px;
  }
  header div.figure_boxs > div figure.fig_4 img {
    width: 90px;
  }
  header div.figure_boxs > div figure.fig_5 img {
    width: 90px;
  }
  header div.figure_boxs > div div.fig_line span {
    font-size: 1.33rem;
    line-height: 1.5rem;
  }
  div.con_wrap {
    width: 95%;
  }
  div.con1 {
    padding-top: 0px;
    margin-top: -60%;
    height: 550px;
  }
  div.con1 h2 {
    margin-bottom: 20px;
  }
  div.con1 h2 span {
    font-weight: bold;
  }
  div.con1 figure {
    margin-top: 20px;
  }
  div.con1 figure img {
    width: 90%;
  }
  div.con1 img.obj {
    width: 90%;
    right: -50%;
    top: -40%;
  }
  div.con2 {
    padding-top: 45%;
  }
  div.con2 img.obj {
    width: 350px;
    left: -20%;
    top: 0.5%;
  }
  div.con2 div.con_wrap div.con2_tit {
    width: 100%;
    height: 300px;
    float: none;
    text-align: center;
  }
  div.con2 img.obj2 {
    display: none;
  }
  div.con2 div.con_wrap .con2-graph {
    width: 90%;
    margin: 0 auto;
    float: none;
    margin-top: -100px;
  }
  div.con3 {
    height: 800px;
    padding-top: 40%;
  }
  div.con3 div.con_wrap div.con3_tit {
    width: 100%;
    position: initial;
    text-align: center;
  }
  div.con3 div.con_wrap img {
    left: 0;
    top: 25%;
  }
  div.con4 div.con_wrap div.con4_texts {
    top: 27%;
    left: 0;
  }
  div.con4 div.con_wrap div.con4_texts .con4_tit {
    width: 100%;
    float: initial;
    text-align: center;
  }
  div.con4 div.con_wrap div.con4_texts .con4_desc {
    width: 100%;
    float: initial;
    margin-top: 20px;
  }
  div.con4 div.con_wrap div.con4_texts .con4_desc ul {
    padding-left: 55px;
  }
  div.con5 {
    height: 1200px;
  }
  div.con5 div.con_wrap {
    top: 20%;
  }
  div.con5 img.obj1 {
    display: none;
  }
  div.con5 img.obj2 {
    display: none;
  }
  div.con5 div.con_wrap div.circle_boxs span img {
    display: none;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    width: 180px;
    height: 180px;
    margin: 15px;
  }
  div.con5 div.con_wrap h4 {
    font-size: 1.563rem;
  }
  div.con6 div.con_wrap ul li b {
    float: right;
  }
  footer div.btn {
    top: 25%;
  }
  footer div.con_wrap p {
    word-break: keep-all;
    line-height: 1.8rem;
    margin: 0;
  }
}
@media (max-width: 564px) {
  div.head_line {
    text-align: left;
    padding-left: 2%;
  }
  div.head_line h4 span {
    float: right;
    margin-right: 5%;
    width: 100px;
  }
  div.head_line b {
    display: none;
  }
  div.con6 div.con_wrap ul {
    margin-top: 40px;
  }
  div.con6 div.con_wrap ul li span {
    width: 75px;
    font-size: 0.875rem;
  }
  h3 {
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {
  div.con1 {
    margin-top: -45%;
    height: 450px;
  }
  div.con2 {
    height: 650px;
  }
  div.con2 div.con_wrap div.con2_tit {
    top: 30%;
  }
  div.con2 div.con_wrap .con2-graph {
    width: 95%;
    margin-top: -50px;
  }
  div.con3 {
    padding-top: 60%;
  }
  div.con3 div.con_wrap div.con3_tit h2 {
    margin-bottom: 20px;
  }
  div.con3 div.con_wrap div.con3_tit p {
    word-break: keep-all;
    margin: 0 auto;
    width: 70%;
    line-height: 1.5rem;
  }
  div.con3 div.con_wrap img {
    width: 150%;
    left: -22%;
  }
  div.con4 div.con_wrap div.con4_texts .con4_desc ul {
    padding-left: 15px;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    max-width: 170px;
    height: 170px;
    margin: 5px;
  }
}
@media (max-width: 414px) {
  html,
  body {
    font-size: 10px;
  }
  header div.figure_boxs {
    bottom: 38%;
  }
  header div.figure_boxs > div {
    height: 160px;
    margin-bottom: 46px;
  }
  div.con1 {
    margin-top: -20%;
    height: 400px;
  }
  div.con3 {
    padding-top: -350px;
  }
  div.con5 {
    height: 1100px;
  }
  div.con5 div.con_wrap div.circle_boxs div.circle {
    max-width: 155px;
    height: 155px;
  }
  div.con6 div.con_wrap ul li span {
    width: 55px;
  }
}
@media (max-width: 360px) {
  div.con2 div.con_wrap div.con2_tit {
    top: 30%;
  }
}
